#  SPDX-License-Identifier: LGPL-2.1+

[Unit]
Description=Journal Remote Sink GELF Service
ConditionPathExists=/etc/default/systemd-journal-remote-gelf

[Service]
ExecStart=/opt/systemd-journal-remote-gelf/main.py --listen-host $LISTEN_HOST --listen-port $LISTEN_PORT --graylog-port $GRAYLOG_PORT --graylog-host $GRAYLOG_HOST --x-forwarded-for
EnvironmentFile=/etc/default/systemd-journal-remote-gelf

DynamicUser=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=strict
ProtectHome=yes
ProtectControlGroups=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictNamespaces=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
SystemCallArchitectures=native
LockPersonality=yes

Restart=always

[Install]
WantedBy=multi-user.target
